{% extends 'base.html.twig' %}

{% block title %}HOMEPAGE{% endblock %}

{% block body %}
    <a href="{{ path('product_new') }}">Add new product !!!</a>
    {{ render(controller('App\\Controller\\ProductController::getAllProducts')) }}
{% endblock %}
